@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;

}

body{
    height: 100vh;
    font-size: 18px;
}

grid-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20vh 80vh;
}

sidebar{
    background-color: #0ea5e9;
    grid-column: 1/2;
    grid-row: 1/4;
    color: white;
    font-weight: 700;

}

.sidebar-header{
    display: block;
    font-size: 2rem;
    text-align: start;
    padding:1rem 0.5rem ;
    width: 100%;
    margin-bottom: 10%;
}
sidebar .mdi{
    padding-right: 10%;
}
sidebar-grid{
    margin-bottom: 4rem;
}
sidebar-grid,settings-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;

}



 sidebar-grid .mdi,settings-grid .mdi{
    color: white;
    padding-right: 8%;
    padding-left: 6%;
}




button{
    font-size: 1.3rem;
    border: none;
    background-color: #0ea5e9;
    font-weight: inherit;
    color: inherit;
    text-align: start;
}
header{
    padding: 1.4rem;
    background-color: #FFFFFF;
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 0 4px 2px -2px rgb(34, 27, 27);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30% 75%;
    align-items: center;
    gap: 15px;
}
.profile{
    border:solid 1px #0ea5e9;
    border-radius: 0.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
.searchbar{
    padding-bottom: 1rem;
}
.searchbar .mdi{
    font-size: 1.3rem;
    padding-right: 1rem;
}
 .profile .mdi{
    font-size: 2rem;
    padding: 1rem 0;
    

}

main{
background-color: #E2E8F0;
grid-column: 2/3;

}
.greetings .mdi{
    font-size: 5rem;
    padding-right: 2%;    
}
.greetings span{
    font-weight: bold;
}
.greetings {
    display: flex;
    align-items: center;
    
   
}
.greet{
    font-size: 1rem;
}
input[type="text"]{
    border-radius: 0.7rem;
    width: 70%;
    background-color: #E2E8F0;
    border: none;
    height: 30px;
   
}
input[type="text"]:focus{
    outline: none;
}

.buttons button{
    text-align: center;
    color: white;
    font-weight: 700;
    border-radius: 1.4rem;
    padding:0.5rem 2rem;
    

}
.card{
    background-color: #ffffff;
    height: 180px;
    width: 250px;
    text-align: start;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    border-radius:4px ;
    border-left:solid orange 0.4rem;
}
.card p{
    font-weight: 300;
    padding: 4px;
    align-self: start;
}
.card h3{
    padding: 4px;
}
.card .buttons{
    justify-self: end;
    padding: 4px;
    font-size: 20px;
}
.buttons span{
    margin: 4px;
}
main{
    display: grid;
    grid-template-columns: 3.5fr  1fr;
    grid-template-rows: 5vh 1fr 1fr;
    gap: 20px;
    padding-left: 1rem;
}
main p{
   align-self:center ;
}
main-container{
    display: grid;
    grid-column: 1/2 ;
    grid-template-columns: repeat(auto-fit,250px);
    justify-items: center;
    gap: 20px;
    
}
