@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;

}

body{
    height: 100vh;
    font-size: 18px;
}

grid-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 20vh 80vh;
}

sidebar{
    background-color: #0ea5e9;
    grid-column: 1/2;
    grid-row: 1/4;
    color: white;
    font-weight: 700;

}
.sidebar-header{
    display: block;
    font-size: 2rem;
    text-align: start;
    padding:1rem 0.5rem ;
    width: 100%;
    margin-bottom: 10%;
}
sidebar-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

}
 sidebar-grid .mdi{
    color: white;
    padding-right: 8%;
    padding-left: 6%;
}
button{
    font-size: 1.3rem;
    border: none;
    background-color: #0ea5e9;
    font-weight: inherit;
    color: inherit;
    text-align: start;


}
header{
    background-color: #FFFFFF;
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 0 4px 2px -2px rgb(34, 27, 27);
}

main{
background-color: #E2E8F0;
grid-column: 2/3;

}